<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tests"  verbose="1" parallel="tests" thread-count="2">
<test name="Test in Firefox" thread-count="2">
    <classes>
        <class name="tests.OpenGmailTest"/>
        <class name="tests.GoogleDriveTest"/>
    </classes>
</test>

</suite>
